/* .centerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}
.yellowBox {
  border: 3px solid yellow;
}
.yellowBox span {
  font-weight: bold;
} */
